@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0.7rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  color: #ffffff;
  background-color: linear-gradient(to right, #6a11cb, #2575fc);
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 0.5rem;
}
ul {
  display: none;
}

a {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  transition: transform 200ms ease-in-out;
  font-size: 2rem;
}
a:hover {
  transform: scale(1.05);
  color: #333333;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  list-style: none;
  transition: transform 200ms ease-in-out;
}

li:hover {
  transform: scale(1.05);
  border-bottom: 3px solid #333333;
}

.bars {
  display: block;
  cursor: pointer;
  padding: 1rem;
  z-index: 10;
  color: #ffffff;
}

.phoneItems {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 5rem);
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phoneItem {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 4rem;
}

@media (min-width: 600px) {
  ul {
    display: flex;
  }

  .phoneItems {
    display: none;
  }

  .bars {
    display: none;
  }

  .logo {
    font-size: 3rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 0.5rem;
  }
}
